<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<title>Register</title>
</head>
<body>
<h2>Create Account</h2>
<input type="text"
id="username"
placeholder="Username">
<br><br>
<input type="text"
id="password"
placeholder="Password">
<br><br>
<input type="text"
id="phone"
placeholder="Phone">
<br><br>
<button onclick="registerUser()">
Register
</button>
<br><br>
<p>
<h2>Already have an account</h2>
<a href="/login">
Login
</a>
</p>

</body>
</html>
<script src="/static/register.js"></script>
